<!DOCTYPE html>
<html lang="KO" data-bs-theme="dark">

<%- include("./header.ejs") %>

<body>

<header id="app-header">

</header>

<div id="app-body" class="bg-body-tertiary shadow-lg rounded">

    <div class='wave -one'></div>
    <div class='wave -two'></div>
    <div class='wave -three'></div>


    <main>
        <%- include("./searchbar.ejs") %>

        <section>
            <%- body %>
        </section>

        <%- include("./footerButtonGroup.ejs") %>
    </main>

</div>


<%- include("./scripts.ejs") %>

</body>
</html>
