<%- contentFor('body') %>
<div class="container ">

    <ul id="list-container" class="list-group"></ul>

    <div class="row row-gap-5 song-container">
        <% for(const chart of chartData){ %>
            <div class="col">
                <div class="card" style="width: 16rem;">
                    <img src="<%= chart.thumbnailSrc %>" class="card-img-top" alt="<%= chart.title %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= chart.title %></h5>
                        <p class="card-text view-count" data-song-id="<%= chart.id %>">
                            <%= chart.viewCount %>
                        </p>
                        <button class="btn btn-primary flex justify-content-center"
                                onClick="handleClickPlay('<%= chart.id %>', '<%= chart.src %>')">Play!
                        </button>

                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <audio id="ncp-song-audio" src=""></audio>
</div>

<script>
    window.addEventListener("load", function () {
        linkScript("/js/views/popular.js");
    })
</script>